%li.status
  .timeline-badge.primary
    %i.glyphicon.glyphicon-comment
  .timeline-panel
    .timeline-body.status__contents
      %p
        - if comment.proposition.present?
          [ 제안 "#{comment.proposition.title}" ]
        = comment.contents
      %p
        %small.text-muted
          %i.glyphicon.glyphicon-user
          %small= comment.user.email
          %i.glyphicon.glyphicon-time
          %small= timeago_tag comment.created_at
