%li.status
  .timeline-badge.warning
    %i.glyphicon.glyphicon-bullhorn
  .timeline-panel
    .timeline-body.status__contents
      %p 제안 "#{proposition.title}"을 올렸습니다.
      %p
        %small.text-muted
          %i.glyphicon.glyphicon-user
          %small= proposition.user.email
          %i.glyphicon.glyphicon-time
          %small= timeago_tag proposition.created_at
