.glyphicon-flapping {
    -webkit-animation: webkitspin 6000ms ease-in 0000ms infinite;
    -animation: spin 6000ms ease-in 0000ms infinite;
}

@-webkit-keyframes webkitspin {
    0%, 40% { -webkit-transform: rotateY(0deg);}
    60%, 100% { -webkit-transform: rotateY(360deg);}
}

@keyframes spin {
    0%, 40% { -webkit-transform: rotateY(0deg);}
    60%, 100% { -webkit-transform: rotateY(360deg);}
}
